@import url(reset.css);

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid white;
}

.game{
  display: flex;
  font-family: 'Rubik One', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
}

.game-timer{
  margin: 10px 15px;
}

.game-score{
  margin: 50px -15px;
}
